* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000;
}

#neon {
    margin: 2%;
    position: relative;
    color: #FFFFFF;
    font-size: 4em;
    animation: flicker 2s infinite;
}
#neon::after {
    content: attr(data-text);
    top: 0;
    left: 0;
    position: absolute;
    color: #CA3216;
    z-index: -1;
}

@keyframes flicker {
    0%, 70%, 100% {
        text-shadow: 0 0 0px #CA3216;
    }
    20%, 40%, 80% {
        text-shadow: 0 0 10px #CA3216;
    }
    10%, 60%, 90% {
        text-shadow: 0 0 15px #CA3216;
    }
}